# Apache 2.4 Configuration
ServerName localhost
<VirtualHost *:80>

    ServerName wordpress.setup.local
    ServerAlias wordpress.*.local

    # Get the server name from the URL
    UseCanonicalName Off

    DirectoryIndex index.php index.html

    # Re-Write Rules
    RewriteEngine On

    DocumentRoot /var/www/

    <Directory "/var">
        Options +FollowSymLinks +Indexes
        AllowOverRide All
        Require all granted
    </Directory>
</VirtualHost>
